/* NÃO É RECOMENDADO ADICIONAR CSS DIRETAMENTE NA TAG HTML 

EXEMPLO...
body {
  background-color: rgb(224, 224, 224);
}

h1 {
  color: rgb(83, 120, 224);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

*/

/*  NÃO É RECOMENDADO POIS O ID É ÚNICO E É UTILIZADO NO JG
 EXEMPLO...  

#para1 {
  text-align: center;
  color: red;
}

#para2 {
  background-color: rgb(59, 219, 10);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} */

/* RECOMENDADO >> FAZER CLASSES PARA O ESTILO */

.resposta {
  text-align: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.backgroundescuro {
  background-color: black;
  color: white;
  text-align: center;
}

.backgroundluz {
  background-color: whitesmoke;
  color: black;
  text-align: center;
}
